.top{
    border: 1px solid orangered;
    width: 500px;
    height: 100px;
    background-color: orangered;
}
.mid{
    border:1px solid white;
    width: 499px;
    height: 100px;
}
    
    


.bot{
    border: 1px solid green;
    width: 500px;
    height: 100px;
    background-color: green;
}

img{
   width: 180px;
   height: 100px;
   padding-left: 153px;
    
}
body{
    width: 500px;
    height: 300px;
    box-shadow: 10px 10px 30px green,-10px -10px 25px orangered;
    border: 0px solid white;
    margin:80px auto;
}


